[Desktop Entry]
Name=org-protocol
Exec=/home/punchagan/bin/org-protocol-wayback.sh "%u"
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
